<body>
  <div class="container unsolved" *ngIf="unsolvedPairs.length > 0">
    <article>
      <div class="animal left">
        <div
          class="item"
          *ngFor="let pair of unsolvedPairs; trackBy: trackItemsById"
          (mousedown)="
            leftpartSelected.emit(pair.id); leftpartUnselected.emit()
          "
          (click)="assignmentStream.next({ pair: pair, side: 'left' })"
        >
          <ng-template
            [ngTemplateOutlet]="leftpart_temp"
            [ngTemplateOutletContext]="{ contextPair: pair }"
          ></ng-template>
        </div>
      </div>
      <div class="animal right">
        <div
          class="item"
          *ngFor="let pair of unsolvedPairs; trackBy: trackItemsById"
          (mousedown)="
            rightpartSelected.emit(pair.id); rightpartUnselected.emit()
          "
          (click)="assignmentStream.next({ pair: pair, side: 'right' })"
        >
          <ng-template
            [ngTemplateOutlet]="rightpart_temp"
            [ngTemplateOutletContext]="{ contextPair: pair }"
          >
          </ng-template>
        </div>
      </div>
    </article>
  </div>
</body>
