<body>
  <div class="container unsolved" *ngIf="unsolvedPairs.length > 0">
    <article>
      <div class="animal left">
        <div
          class="item"
          *ngFor="let pair of unsolvedPairs; trackBy: trackItemsById"
          (mousedown)="leftpartSelected.emit(pair.id)"
          (click)="assignmentStream.next({ pair: pair, side: 'left' })"
        >
          <ng-template
            [ngTemplateOutlet]="leftpart_temp"
            [ngTemplateOutletContext]="{ contextPair: pair }"
          ></ng-template>
        </div>
      </div>
      <div class="animal right">
        <div
          class="item"
          *ngFor="let pair of unsolvedPairs; trackBy: trackItemsById"
          (mousedown)="rightpartSelected.emit(pair.id)"
          (click)="assignmentStream.next({ pair: pair, side: 'right' })"
        >
          <ng-template
            [ngTemplateOutlet]="rightpart_temp"
            [ngTemplateOutletContext]="{ contextPair: pair }"
          >
          </ng-template>
        </div>
      </div>
    </article>
  </div>
  <div class="container solved" *ngIf="solvedPairs.length > 0">
    <div class="pair" *ngFor="let pair of solvedPairs; trackBy: trackItemsById">
      <button *ngIf="pair.rightpart != 'fish'">
        {{ pair.leftpart }}s are {{ pair.rightpart }}s
      </button>
      <button *ngIf="pair.rightpart === 'fish'">
        {{ pair.leftpart }}s are {{ pair.rightpart }}es
      </button>

      <!-- <button>{{ pair.rightpart }}'s are {{ pair.rightpart }}'s</button> -->
    </div>
  </div>
</body>
